{
	FilesToRename = {
		"TemplateFS_Prefix.pch" = "ÇPROJECTNAMEÈ_Prefix.pch";
		"TemplateFS.icns" = "ÇPROJECTNAMEÈ.icns";
		"TemplateFS_Controller.h" = "ÇPROJECTNAMEASIDENTIFIERÈ_Controller.h";
		"TemplateFS_Controller.m" = "ÇPROJECTNAMEASIDENTIFIERÈ_Controller.m";
		"TemplateFS_Filesystem.h" = "ÇPROJECTNAMEASIDENTIFIERÈ_Filesystem.h";
		"TemplateFS_Filesystem.m" = "ÇPROJECTNAMEASIDENTIFIERÈ_Filesystem.m";
	};
	FilesToMacroExpand = (
		"ÇPROJECTNAMEÈ.xcodeproj/project.pbxproj",
		"ÇPROJECTNAMEÈ_Prefix.pch",
		"Info.plist",
		"English.lproj/InfoPlist.strings",
		"English.lproj/MainMenu.xib",
		"main.m",
		"ÇPROJECTNAMEASIDENTIFIERÈ_Controller.h",
		"ÇPROJECTNAMEASIDENTIFIERÈ_Controller.m",
		"ÇPROJECTNAMEASIDENTIFIERÈ_Filesystem.h",
		"ÇPROJECTNAMEASIDENTIFIERÈ_Filesystem.m"
	);
	Description = "This project builds a Cocoa-based read-only MacFUSE file system application written in Objective-C.";
}
