{
	FilesToRename = {
		"TemplateFS.icns" = "ÇPROJECTNAMEÈ.icns";
		"TemplateFS_Prefix.pch" = "ÇPROJECTNAMEÈ_Prefix.pch";
		"TemplateFS.1" = "ÇPROJECTNAMEÈ.1";
		"TemplateFS.d" = "ÇPROJECTNAMEASIDENTIFIERÈ.d";
		"TemplateFS_Filesystem.h" = "ÇPROJECTNAMEASIDENTIFIERÈ_Filesystem.h";
		"TemplateFS_Filesystem.m" = "ÇPROJECTNAMEASIDENTIFIERÈ_Filesystem.m";
	};
	FilesToMacroExpand = (
		"ÇPROJECTNAMEÈ.xcodeproj/project.pbxproj",
		"ÇPROJECTNAMEÈ_Prefix.pch",
		"ÇPROJECTNAMEÈ.1",
		"main.m",
		"ÇPROJECTNAMEASIDENTIFIERÈ.d",
		"ÇPROJECTNAMEASIDENTIFIERÈ_Filesystem.h",
		"ÇPROJECTNAMEASIDENTIFIERÈ_Filesystem.m"
	);
	Description = "This project builds a command-line MacFUSE file system written in Objective-C.";
}
